# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../:\Users\Kasia\OneDrive\Pulpit\IO2\BootstrapBuilder\src\main\java\pl\put\poznan\builder\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
